<mat-toolbar color="primary">
  <button mat-icon-button  [matMenuTriggerFor]="controlMenu" aria-label="Control Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Multifactor Authentication App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="userAccountMenu" aria-label="User Account Menu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #userAccountMenu="matMenu">
  <button mat-menu-item [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
<mat-menu #controlMenu="matMenu">
  <button mat-menu-item  [routerLink]="['/users']">
    <mat-icon>group</mat-icon>
    <span>Users</span>
  </button>
  <button mat-menu-item  [routerLink]="['/activities']">
    <mat-icon>follow_the_signs</mat-icon>
    <span>NPS Activities</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
