<mat-card class="mfacode-card">
  <mat-card-header class="header">
    <mat-card-title>Enter Multi-Factor Code</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="validateMfaCode()" #mfaForm="ngForm">
      <div class="input-container">
        <mat-form-field appearance="fill" class="mat-input">
          <mat-label>Multi-Factor Code</mat-label>
<!--          <input type="text" matInput name="mfaCode" id="mfaCode" #mfaCode="ngModel"-->
<!--                 [(ngModel)]="mfaCode" placeholder="6 digit code" required>-->
          <input type="text" matInput placeholder="6 digit code" maxlength="6" required [(ngModel)]="mfaCode" name="mfaCode" id="mfaCode" #mfaCodeControl="ngModel">
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
