<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="">

<head>
    <title>Thymeleaf Htmx Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>

    <h1>HTMX1!</h1>
    <p th:text="'Test ' + ${appname}">Welcome to the Thymeleaf Htmx page (default text)</p>
    <p/>
    <div><button id="trigger-btn" type="button"
                 hx-get="/htmx/populate-names"
                 hx-trigger="click"
                 hx-target="#populate-names"
                 hx-swap="innerHTML">Show Names</button> </div>
    <div id="populate-names"></div>

</body>

</html>
